@charset "utf-8";

$footer-padding: 3rem 1.5rem;

@import "~bulma/bulma.sass";

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// .dropdown-content {
//   display: none;
//   position: fixed;
//   background-color: #f9f9f9;
//   min-width: 100px; /* Memperbesar lebar dropdown */
//   max-width: 850px; /* Menetapkan lebar maksimum untuk dropdown */
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   z-index: 100;
//   padding: 5px;
//   transition: opacity 0.3s;
//   flex-direction: row; /* Mengatur arah kolom ke baris */
// }

// .sections {
//   padding-top: 15px;
// }

// .box {
//   background-color: #f9f7e4;
//   color: #122d4f;

// }

// .containers {
//   margin: auto;
//   width: 50%;
//   text-align: center;
//   // align-items: center;
// }

.footer{
  margin-bottom: 15px;
}

.container{
  display: flex;

}

html {
  background-color: #fefefe;
  background-image: radial-gradient(#5394fd 1.2px, #fefefe 1.2px);
  background-size: 24px 24px;
}


.box.kiri {
  width: 100%;
  margin-bottom: 10px;
  // position: relative;
  // animation: myfirst 5s linear 2s infinite alternate;
  // box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Kolom kanan */
// .boxx.kanan {
//   width: 60%;
//   // justify-content: center;
//   // justify-items: center;
//   // align-items: center;
//   margin-left: 10px;
//   margin-top: 10px;
// }

.rotate {
  animation: rotating 10s linear infinite;
}

.section{
  padding-top: 15px;
}

.help{
  text-align:center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  // transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
  transition: transform 0.3s linear, width 0.3s linear, height 0.3s linear;
}

.left {
  width: 47%;
}

.right {
  width: 47%;
}

.middle {
  width: 6%;
}

// .left:fullscreen {
//   background-color: black;
// }

// .multi {
//   padding-top: 300px;
// }

.dropdown {
  position: relative;
  display: inline-block;
  // padding-right: 5px;
  padding-bottom: 7px;
}
.dropdownB {
  position: relative;
  display: inline-block;
  // padding-right: 5px;
  padding-bottom: 7px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  // display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  // min-width: 38vw;
  // max-width: 46vw;
  width: 44vw;
  max-height: 89vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #422800 #fbeee0;
  background-color: #f9f9f9;
  // min-width: 150px;
  // max-width: 950px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 0.3s;
  flex-direction: row; /* Mengatur arah kolom ke baris */
  flex: 1; /* Membuat kolom memiliki lebar yang sama */
  padding: 10px;
  // white-space: nowrap; /* Mencegah teks membungkus ke baris baru */
}

.dropdown-content::-webkit-scrollbar {
  width: 8px;
}
  
.dropdown-content::-webkit-scrollbar-track {
  background: #fbeee0;
  border-radius: 4px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #422800;
  border-radius: 4px;
  border: 2px solid #fbeee0;
}

// .dropdown:hover .dropdown-content {
//   display: flex;
// }

.dropdown-content h3 {
  margin: 0 0 10px;
  text-align: left;
  color: rgb(4, 86, 137);
}

.dropdown-content a.navbar-link {
  cursor: pointer;
}

// .dropdown-content.visible {
//   display: block;
// }

.dropdown-content a {
  text-decoration: none;
  color: black;
  display: block;
  border: 1px solid;
  padding: 8px;
  box-shadow: 3px 6px #888888;
  margin-bottom: 10px;
  width: auto;
}

/* Warna untuk item ganjil */
.dropdown-content a:nth-child(odd) {
  background-color: #f0f0f0; /* abu-abu muda */
}

/* Warna untuk item genap */
.dropdown-content a:nth-child(even) {
  background-color: #fdb5b5; /* putih */
}


// .dropdown-content a:hover {
//   box-shadow: 3px 6px #000000;
// }

.navbar-brand {
  display: flex;
  align-items: center;
}

.box{
  text-align: left;
}

.select{
  min-width: 20px;
  max-width: 150px;
  // position: relative;
}

.navbar-link{
  font-size: 15px;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 99vw;
  height: 99vh;
  z-index: 999;
  background-color: white; /* Tambahkan warna latar untuk memperjelas */
  overflow: auto; /* Pastikan konten tetap bisa digulir */
}
